<h1>Edit Article</h1>

<%# look note on the article: @article ... thus, partial will look at this with no `@` or instance variable notation %>
<%# double note here that %>
<%= render "form", article: @article %>