<%# <h1>Articles#index</h1>
<p>Find me in app/views/articles/index.html.erb</p> %>

<%# <h1>Hello World!</h1> %>

<h1>Articles</h1>

Our blog has <%= Article.public_count %> articles and counting!

<ul>
  <% @articles.each do |article| %>
    <%# `archived?` is defined in the models folder, .rb file %>
    <% unless article.archived? %>
      <li>
        <%= link_to article.title, article %>
      </li>
    <% end %>
  <% end %>
</ul>

<br>
<%= link_to "New Article", new_article_path %>