<nav>
  <%# <a href="/articles">
    Back
  </a> %>
  <%= link_to "Home", articles_path %>
</nav>

<h1><%= @article.title %></h1>
<p><%= @article.body %></p>

<%= link_to "Edit meeee!", edit_article_path(@article)%>